{% extends 'base.html.twig' %}

{% block body %}


	<form
		action="{{ path('login') }}" method="post">
		{# <div>
										            <input placeholder="Adresse email..." required  type="text">
										        </div> #}

		<div class="py-56">
			<div class="relative flex w-full flex-wrap justify-center items-stretch my-8">
				<span class="z-10 h-full leading-snug font-normal text-center text-slate-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
					<i class="fas fa-lock"></i>
				</span>
				<input required name="_username" type="text" placeholder="Adresse email..." class="px-3 py-3 placeholder-slate-300 text-slate-600 relative bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring pl-10"/>
			</div>


			<div class="relative flex w-full flex-wrap justify-center items-stretch mb-3">
				<span class="z-10 h-full leading-snug font-normal text-center text-slate-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
					<i class="fas fa-lock"></i>
				</span>
				<input placeholder="Mot de passe..." required name="_password" type="password" class="px-3 py-3 placeholder-slate-300 text-slate-600 relative bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring pl-10"/>
			</div>

			<div class="relative flex w-full flex-wrap justify-center items-stretch mb-3">
				<p>Vous n'avez pas de compte ?
					<a href="{{ path('security') }}" class="underline text-orange-brand hover:text-orange-hover">Inscrivez-vous !</a>
				</p>
			</div>

			<div class="relative flex w-full flex-wrap justify-center items-stretch my-">
				<button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-orange-brand hover:bg-orange-hover focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Connexion</button>
			</div>
		</div>

	</form>


{% endblock %}
