<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<!-- This example requires Tailwind CSS v2.0+ -->
		<div class="relative bg-gray-50">
			<div class="relative bg-white shadow">
				<div class="max-w-7xl mx-auto px-4 sm:px-6">
					<div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
						<div class="flex justify-start lg:w-0 lg:flex-1">
							<a href="{{ path('home') }}">
								<span class="sr-only">Workflow</span>
								<img class="h-8 w-auto sm:h-10" src="images/risurei-noir.svg" alt="">
							</a>
						</div>
						<div class="-mr-2 -my-2 md:hidden">
							<button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
								<span class="sr-only">Open menu</span>
								<!-- Heroicon name: outline/menu -->
								<svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"/>
								</svg>
							</button>
						</div>
						<nav class="hidden md:flex space-x-10">

							<a href="{{ path('home') }}" class="text-base font-medium text-gray-500 hover:text-orange-brand">
								Accueil
							</a>
							<a href="{{ path('show_events') }}" class="text-base font-medium text-gray-500 hover:text-orange-brand">
								Evenements
							</a>
							<a href="{{ path('blog') }}" class="text-base font-medium text-gray-500 hover:text-orange-brand">
								Blog
							</a>

							{% if app.user %}
								{% if app.user.administrateur == true %}

									<a href="{{ path('create') }}" class="text-base font-medium text-gray-500 hover:text-orange-brand">
										Créer un evenement
									</a>

									<a href="{{ path('create_blog') }}" class="text-base font-medium text-gray-500 hover:text-orange-brand">
										Créer un article
									</a>
								{% endif %}
							{% endif %}
						</nav>

						<div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
							{% if not app.user %}
								<a href="{{ path('security') }}" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-orange-brand">
									Inscription
								</a>
								<a href="{{ path('login') }}" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-orange-brand hover:bg-orange-hover">
									Connexion
								</a>
							{% else %}
								<a href="{{ path('account') }}" class="text-base font-medium text-gray-500 hover:text-orange-brand">
									Mon compte
								</a>
								<a href="{{ path('logout') }}" class="ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-orange-brand hover:bg-orange-hover">
									Deconnexion
								</a>
							{% endif %}
						</div>
					</div>
				</div>

			</div>
		</div>

		{# <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-orange-brand">
																																																																																											<div class="container flex flex-wrap justify-between items-center mx-auto">
																																																																																												<a href="https://flowbite.com/" class="flex items-center">
																																																																																													<img src="https://flowbite.com/docs/images/logo.svg" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo">
																																																																																													<span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
																																																																																												</a>
																																																																																												<button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="true">
																																																																																													<span class="sr-only">Open main menu</span>
																																																																																													<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
																																																																																														<path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
																																																																																													</svg>
																																																																																												</button>
																																																																																												<div class="hidden w-full md:block md:w-auto" id="navbar-default">
																																																																																													<ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-orange-brand dark:border-gray-700">
																																																																																														<li>
																																																																																															<a href="{{ path('home') }}" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Accueil</a>
																																																																																														</li>
																																																																																														<li>
																																																																																															<a href="{{ path('show_events') }}" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Evenements</a>
																																																																																														</li>
																																																																																								
																																																																																														{% if app.user %}
																																																																																															{% if app.user.administrateur == true %}
																																																																																																<li>
																																																																																																	<a href="{{ path('create') }}" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Créer un evenement</a>
																																																																																																</li>
																																																																																															{% endif %}
																																																																																															{% dump(app.user.administrateur) %}
																																																																																														{% endif %}
																																																																																														{% if not app.user %}
																																																																																															<li>
																																																																																																<div class="inline-flex rounded-md shadow">
																																																																																																	<a href="{{ path('login') }}" class="inline-flex items-center justify-center px-5 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
																																																																																																		Se connecter
																																																																																																	</a>
																																																																																																</div>
																																																																																															</li>
																																																																																														{% else %}
																																																																																								
																																																																																															<li>
																																																																																																<a href="{{ path('account') }}" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Mes evenements</a>
																																																																																															</li>
																																																																																															<li>
																																																																																																<div class="inline-flex rounded-md shadow">
																																																																																																	<a href="{{ path('logout') }}" class="inline-flex items-center justify-center px-5 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
																																																																																																		Se déconnecter
																																																																																																	</a>
																																																																																																</div>
																																																																																															</li>
																																																																																														{% endif %}
																																																																																													</ul>
																																																																																												</div>
																																																																																											</div>
																																																																																										</nav> #}
		{% block body %}{% endblock %}
		<!-- This example requires Tailwind CSS v2.0+ -->
		<footer class="bg-pink-brand" style="margin-top:auto;">
			<div class="mx-auto max-w-7xl overflow-hidden py-12 px-4 sm:px-6 lg:px-8">
				<nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
					<div class="px-5 py-2">
						<a href="{{path('home')}}" class="text-base text-black-brand hover:text-orange-brand">Accueil</a>
					</div>

					<div class="px-5 py-2">
						<a href="{{path('blog')}}" class="text-base text-black-brand hover:text-orange-brand">Évènements</a>
					</div>

					<div class="px-5 py-2">
						<a href="{{path('show_events')}}" class="text-base text-black-brand hover:text-orange-brand">Blog</a>
					</div>

					<div class="px-5 py-2">
						<a href="{{path('rgpd')}}" class="text-base text-black-brand hover:text-orange-brand">Mentions légales</a>
					</div>
				</nav>
				<div class="mt-8 flex justify-center space-x-6">

					<a href="#" class="text-black-brand hover:text-orange-brand">
						<span class="sr-only">Twitter</span>
						<svg class="h-6 w-6" fill="currentColor" viewbox="0 0 24 24" aria-hidden="true">
							<path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"/>
						</svg>
					</a>
				</div>
				<p class="mt-8 text-center text-base text-black-brand">&copy; 2022 Risurei. Travail pédagogique sans objectif comercial.</p>
			</div>
		</footer>

	</body>
</html></body></html>
