{% extends "base.html.twig" %}

{% block body %}

	<div class="relative overflow-hidden bg-white py-16">
		<div class="relative px-4 sm:px-6 lg:px-8">
			<div class="mx-auto max-w-prose text-lg">
				<h1>
					<span class="block text-center text-lg font-semibold text-orange-brand">Blog</span>
					<span class="mt-2 block text-center text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">{{blog.title}}</span>
				</h1>
				<p class="mt-8 text-xl leading-8 text-gray-500">{{blog.content}}.</p>
				<p class="mt-8 text-xl leading-8 text-gray-500">Posté le
					{{blog.createdAt | date('d/m/Y')}}
				</p>
				{% if app.user %}
					{% if app.user.administrateur == true %}
						<div class="grid grid-cols-2">
							<div class="rounded-md shadow">
								<a href="{{path('edit_blog', {'id':blog.id})}}" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md bg-white text-orange-brand hover:bg-gray-50">
									Modifier l'article
								</a>
							</div>
							<div class="rounded-md shadow ml-4">
								<a href="{{path('delete_blog', {'id':blog.id})}}" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md bg-red-brand text-white hover:bg-red-hover">
									Supprimer l'article
								</a>
							</div>
						</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
