{% extends "base.html.twig" %}

{% block body %}
	<div class="relative bg-gray-50 pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
		<div class="absolute inset-0">
			<div class="bg-white h-1/3 sm:h-2/3"></div>
		</div>
		<div class="relative max-w-7xl mx-auto">
			<div class="text-center">
				<h2 class="text-3xl tracking-tight font-bold text-gray-900 sm:text-4xl sm:tracking-tight">Le blog</h2>
				{# <p class="mt-3 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa libero labore natus atque, ducimus sed.</p> #}
			</div>


			<div class="bg-white px-4 pt-16 pb-20 sm:px-6 lg:px-8 lg:pt-24 lg:pb-28">
				<div class="relative mx-auto max-w-lg divide-y-2 divide-gray-200 lg:max-w-7xl">
					<div>
						<h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Press</h2>
					</div>

					{% for blog in blogs %}
						<div class="mt-6 grid gap-16 pt-10 lg:grid-cols-2 lg:gap-x-5 lg:gap-y-12">
							<div>
								<p class="text-sm text-gray-500">
									<time datetime="2020-03-16">{{blog.createdAt | date('d/m/Y')}}</time>
								</p>
								<a href="#" class="mt-2 block">
									<p class="text-xl font-semibold text-gray-900">{{blog.title}}</p>
									<p class="mt-3 text-base text-gray-500">{{blog.title}}.</p>
								</a>
								<div class="mt-3">
									<a href="{{path('blog_show', {'id': blog.id})}}" class="text-base font-semibold text-orange-brand hover:text-orange-hover">Lire la suite</a>
								</div>
							</div>
						</div>

					{% endfor %}
				</div>
			</div>


		</div>
	</div>

{% endblock %}
