{% extends 'base.html.twig' %}

{% block body %}


	<div class="text-center mt-10">
		<h1 class="text-3xl tracking-tight font-bold text-gray-900 sm:text-4xl sm:tracking-tight pt-10">Création d'un article</h1>
	</div>

	<div class="my-24">
		{{ form_start(form) }}

		<div class="relative flex w-full flex-wrap justify-center items-stretch my-8">
			<div>
				<p class="text-base font-medium text-gray-500">Titre de l'article</p>
				<span class="z-10 h-full leading-snug font-normal text-center text-slate-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
					<i class="fas fa-lock"></i>
				</span>
				{{ form_widget(form.title, {'label': 'Titre','attr': {'class':'px-3 py-3 placeholder-slate-300 text-slate-600 relative bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring pl-10'}})  }}
			</div>
		</div>
		<div class="relative flex w-full flex-wrap justify-center items-stretch my-8">
			<div>
				<p class="text-base font-medium text-gray-500">Contenu de l'article</p>
				<span class="z-10 h-full leading-snug font-normal text-center text-slate-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
					<i class="fas fa-lock"></i>
				</span>
				{{ form_widget(form.content, {'label': 'Contenu','attr': {'class':'px-3 py-3 placeholder-slate-300 text-slate-600 relative bg-white rounded text-sm border-0 shadow outline-none focus:outline-none focus:ring pl-10'}})  }}
			</div>
		</div>

		<div class="relative flex w-full flex-wrap justify-center items-stretch">
			<button type="submit" class="ml-3 inline-flex justify-center my-10 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-orange-brand hover:bg-orange-hover focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
				{% if(editMode) %}
					Enregistrer
				{% else %}
					Ajouter l'article
				{% endif %}
			</button>
		</div>
		{{ form_end(form) }}
	</div>

{% endblock %}
