{% extends 'base.html.twig' %}

{% block title %}HomeController!
{% endblock %}

{% block body %}

	<main class="lg:relative">
		<div class="mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:py-48 lg:text-left">
			<div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
				<h1 class="text-4xl tracking-tight font-bold text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
					<span class="block xl:inline">Bienvenue chez</span>
					<span class="block text-orange-brand xl:inline">Risurei</span>
				</h1>
				{# <p class="mt-3 max-w-md mx-auto text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl">L'art d'apprécier les animés.</p> #}
				<div class="mt-10 sm:flex sm:justify-center lg:justify-start">

					{% if not app.user %}
						<div class="rounded-md shadow">
							<a href="{{ path('login') }}" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-orange-brand hover:bg-orange-hover md:py-4 md:text-lg md:px-10">
								Se connecter
							</a>
						</div>
					{% else %}

						<div class="rounded-md shadow">
							<a href="{{ path('account') }}" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-orange-brand hover:bg-orange-hover md:py-4 md:text-lg md:px-5">
								Voir vos evenements
							</a>
						</div>
					{% endif %}
					<div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
						<a href="{{ path('show_events') }}" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-orange-brand bg-white hover:bg-gray-50 md:py-4 md:text-lg md:px-10">
							Voir tout les evenements
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">
			<img class="absolute inset-0 w-full h-full object-cover" src="https://images.unsplash.com/photo-1640127249305-793865c2efe1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2003&q=80" alt="">
		</div>
	</main>
{% endblock %}
