{% extends "base.html.twig" %}

{% block body %}
	<div class="overflow-hidden bg-white py-16 px-4 sm:px-6 lg:px-8 xl:py-36">
		<div class="mx-auto max-w-max lg:max-w-7xl">
			<div class="relative z-10 mb-8 md:mb-2 md:px-6">
				<div class="max-w-prose text-base lg:max-w-none">
					<h2 class="font-semibold leading-6 text-orange-brand">Mentions légales</h2>
					<p class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Mentions légales et politique de confidentialité</p>
				</div>
			</div>
			<div class="relative">
				<svg class="absolute top-0 right-0 -mt-20 -mr-20 hidden md:block" width="404" height="384" fill="none" viewbox="0 0 404 384" aria-hidden="true">
					<defs>
						<pattern id="95e8f2de-6d30-4b7e-8159-f791729db21b" x="0" y="0" width="20" height="20" patternunits="userSpaceOnUse">
							<rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
						</pattern>
					</defs>
					<rect width="404" height="384" fill="url(#95e8f2de-6d30-4b7e-8159-f791729db21b)"/>
				</svg>
				<svg class="absolute bottom-0 left-0 -mb-20 -ml-20 hidden md:block" width="404" height="384" fill="none" viewbox="0 0 404 384" aria-hidden="true">
					<defs>
						<pattern id="7a00fe67-0343-4a3c-8e81-c145097a3ce0" x="0" y="0" width="20" height="20" patternunits="userSpaceOnUse">
							<rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"/>
						</pattern>
					</defs>
					<rect width="404" height="384" fill="url(#7a00fe67-0343-4a3c-8e81-c145097a3ce0)"/>
				</svg>
				<div class="relative md:bg-white md:p-6">
					<div class="">
						<div class="prose prose-lg prose-indigo text-gray-500 lg:max-w-none">
							<p class="mb-5">L'association La société Risurei, soucieuse des droits des individus, notamment au regard des traitements
																																																																																																																																																																								automatisés et dans une volonté de transparence avec ses clients, a mis en place une politique reprenant l’
																																																																																																																																																																								ensemble de ces traitements, des finalités poursuivies par ces derniers ainsi que des moyens d’actions à la
																																																																																																																																																																								disposition des individus afin qu’ils puissent au mieux exercer leurs droits.
																																																																																																																																																																								Pour toute information complémentaire sur la protection des données personnelles, nous vous invitons à
																																																																																																																																																																								consulter le site : https://www.cnil.fr/</p>
							<p class="mb-5">La poursuite de la navigation sur ce site vaut acceptation sans réserve des dispositions et conditions
																																																																																																																																																								d'utilisation qui suivent.
																																																																																																																																																								La version actuellement en ligne de ces conditions d'utilisation est la seule opposable pendant toute la durée
																																																																																																																																																								d'utilisation du site et jusqu'à ce qu'une nouvelle version la remplace.</p>

							<p class="mb-5 text-lg font-bold">Article 1 - Mentions légales</p>

							<p class="mb-5">1.1 Site :</p>
							<p class="mb-5">Risurei</p>
							<p>1.2 Éditeur (ci-après « l'éditeur ») :</p>
							<p>Risurei Sarl au capital de 0 €
																																																																																																dont le siège social est situé : 20 Rue de la paix 76000 Rouen
																																																																																																représentée par Jean Dupond, en sa qualité de PDG
																																																																																																immatriculée au RCS de
																																																																																																n° de téléphone : 07.07.07.07.07
																																																																																																adresse mail : Delphin@risurei.fr
																																																																																																L'association , déclarée auprès de la préfecture de sous le numéro
																																																																																																dont le siège social est situé :
																																																																																																n° de téléphone :
																																																																																																adresse mail :
																																																																																																représentée par ,</p>
							<p>1.3 Hébergeur (ci-après « l'hébergeur ») :</p>
							<p>Risurei est hébergé par Normandie Web School, dont le siège social est situé 22 Pl. Henri Gadeau de Kerville
																																																																																																76100 Rouen.</p>
							<p></p>
							<p class="my-5 text-lg font-bold">Article 2 - Collecte et protection des données</p>
							<p>Vos données sont collectées par l'association la société Risurei.
																																																																Une donnée à caractère personnel désigne toute information concernant une personne physique identifiée ou
																																																																identifiable (personne concernée) ; est réputée identifiable une personne qui peut être identifiée, directement
																																																																ou indirectement, notamment par référence à un nom, un numéro d'identification ou à un ou plusieurs
																																																																éléments spécifiques, propres à son identité physique, physiologique, génétique, psychique, économique,
																																																																culturelle ou sociale.</p>
							<p>Les informations personnelles pouvant être recueillies sur le site sont principalement utilisées par l'éditeur
																																																																pour la gestion des relations avec vous, et le cas échéant pour le traitement de vos commandes.
																																																																Les données personnelles collectées sont les suivantes :</p>
							<ul>
								<li>nom et prénom</li>
								<li>adresse mail</li>
							</ul>
							<p class="my-5 text-lg font-bold">Article 3 - Droit d’accès, de rectification et de déréférencement de vos données</p>
						</p>En application de la réglementation applicable aux données à caractère personnel, les utilisateurs disposent
																																																des droits suivants :</p>
					<p>le droit d’accès : ils peuvent exercer leur droit d'accès, pour connaître les données personnelles les
																																																concernant, en écrivant à l'adresse électronique ci-dessous mentionnée. Dans ce cas, avant la mise en
																																																œuvre de ce droit, la Plateforme peut demander une preuve de l'identité de l'utilisateur afin d'en
																																																vérifier l'exactitude ;</p>
					<p>le droit de rectification : si les données à caractère personnel détenues par la Plateforme sont inexactes,
																																																ils peuvent demander la mise à jour des informations ;</p>
					<p>le droit de suppression des données : les utilisateurs peuvent demander la suppression de leurs données
																																																à caractère personnel, conformément aux lois applicables en matière de protection des données ;</p>
					<p>le droit à la limitation du traitement : les utilisateurs peuvent de demander à la Plateforme de limiter le
																																																traitement des données personnelles conformément aux hypothèses prévues par le RGPD ;</p>
					<p>le droit de s’opposer au traitement des données : les utilisateurs peuvent s’opposer à ce que
																																																leurs données soient traitées conformément aux hypothèses prévues par le RGPD ;</p>
					<p>le droit à la portabilité : ils peuvent réclamer que la Plateforme leur remette les données personnelles
																																																qu'ils ont fournies pour les transmettre à une nouvelle Plateforme.</p>
					<p>Vous pouvez exercer ce droit en nous contactant, à l’adresse suivante :</p>
					<p>20 Rue de la paix 76000 Rouen .</p>
					<p>Ou par email, à l’adresse :</p>
					<p>Delphin@risurei.fr</p>
					<p>Toute demande doit être accompagnée de la photocopie d’un titre d’identité en cours de validité signé et
																																																faire mention de l’adresse à laquelle l'éditeur pourra contacter le demandeur. La réponse sera adressée dans
																																																le mois suivant la réception de la demande. Ce délai d'un mois peut être prolongé de deux mois si la
																																																complexité de la demande et/ou le nombre de demandes l'exigent.</p>
					<p>De plus, et depuis la loi n°2016-1321 du 7 octobre 2016, les personnes qui le souhaitent, ont la possibilité d’
																																																organiser le sort de leurs données après leur décès. Pour plus d’information sur le sujet, vous pouvez
																																																consulter le site Internet de la CNIL : https://www.cnil.fr/.</p>
					<p>Les utilisateurs peuvent aussi introduire une réclamation auprès de la CNIL sur le site de la CNIL :
																																																https://www.cnil.fr.</p>
					<p>Nous vous recommandons de nous contacter dans un premier temps avant de déposer une réclamation auprès
																																																de la CNIL, car nous sommes à votre entière disposition pour régler votre problème.</p>
					<p class="my-5 text-lg font-bold">Article 4 - Utilisation des données</p>
					<p>Les données personnelles collectées auprès des utilisateurs ont pour objectif la mise à disposition des
																																																services de la Plateforme, leur amélioration et le maintien d'un environnement sécurisé. La base légale des
																																																traitements est l’exécution du contrat entre l’utilisateur et la Plateforme. Plus précisément, les utilisations
																																																sont les suivantes :</p>
					<ul>
						<li>accès et utilisation de la Plateforme par l'utilisateur ;</li>
						<li>gestion du fonctionnement et optimisation de la Plateforme ;</li>
						<li>mise en œuvre d'une assistance utilisateurs ;</li>
						<li>vérification, identification et authentification des données transmises par l'utilisateur ;</li>
						<li>personnalisation des services en affichant des publicités en fonction de l'historique de navigation de
																																																								l'utilisateur, selon ses préférences ;</li>
						<li>prévention et détection des fraudes, malwares (malicious softwares ou logiciels malveillants) et gestion des
																																																								incidents de sécurité ;</li>
						<li>gestion des éventuels litiges avec les utilisateurs ;</li>
						<li>envoi d'informations commerciales et publicitaires, en fonction des préférences de l'utilisateur ;</li>
						<p class="my-5 text-lg font-bold">Article 5 - Politique de conservation des données</p>
						<p>La Plateforme conserve vos données pour la durée nécessaire pour vous fournir ses services ou
																																																								son assistance.</p>
						<p>Dans la mesure raisonnablement nécessaire ou requise pour satisfaire aux obligations légales ou
																																																								réglementaires, régler des litiges, empêcher les fraudes et abus ou appliquer nos modalités et conditions,
																																																								nous pouvons également conserver certaines de vos informations si nécessaire, même après que vous ayez
																																																								fermé votre compte ou que nous n'ayons plus besoin pour vous fournir nos services.</p>
						<p class="my-5 text-lg font-bold">Article 6 - Partage des données personnelles avec des tiers</p>
						<p>Les données personnelles peuvent être partagées avec des sociétés tierces exclusivement dans l’Union
																																																								européenne, dans les cas suivants :</p>
						<p>- lorsque l'utilisateur publie, dans les zones de commentaires libres de la Plateforme, des informations
																																																								accessibles au public ;</p>
						<p>- quand l'utilisateur autorise le site web d'un tiers à accéder à ses données ;
																																																								- quand la Plateforme recourt aux services de prestataires pour fournir l'assistance utilisateurs, la publicité et
																																																								les services de paiement. Ces prestataires disposent d'un accès limité aux données de l'utilisateur, dans le
																																																								cadre de l'exécution de ces prestations, et ont l'obligation contractuelle de les utiliser en conformité avec les
																																																								dispositions de la réglementation applicable en matière protection des données à caractère personnel ;</p>
						<p>- si la loi l'exige, la Plateforme peut effectuer la transmission de données pour donner suite aux réclamations
																																																								présentées contre la Plateforme et se conformer aux procédures administratives et judiciaires.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
