{% extends 'base.html.twig' %}

{% block title %}Evenements
{% endblock %}

{% block body %}

	<!-- This example requires Tailwind CSS v2.0+ -->
	<div class="relative bg-gray-50 pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
		<div class="absolute inset-0">
			<div class="bg-white h-1/3 sm:h-2/3"></div>
		</div>
		<div class="relative max-w-7xl mx-auto">
			<div class="text-center">
				<h2 class="text-3xl tracking-tight font-bold text-gray-900 sm:text-4xl sm:tracking-tight">Les événements</h2>
				{# <p class="mt-3 max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa libero labore natus atque, ducimus sed.</p> #}
			</div>


			{% if events >= 1 %}
				<div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">

					{% for event in events %}
						<div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
							<a href="{{ path('show', {'id' : event.id}) }}">
								<div class="flex-shrink-0">
									<img class="h-48 w-full object-cover" src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80" alt="">
								</div>
								<div class="flex-1 bg-white p-6 flex flex-col justify-between">
									<div class="flex-1">
										<p class="text-sm font-medium text-orange-brand">
											<a href="#" class="hover:underline">
												event
											</a>
										</p>
										<a href="#" class="block mt-2">
											<p class="text-xl font-semibold text-gray-900">{{ event.title }}</p>
											<p class="mt-3 text-base text-gray-500">{{event.content|raw}}</p>
										</a>
									</div>
									<div class="mt-6 flex items-center">
										<div class="flex-shrink-0">
											<a href="#">{# <span class="sr-only">{{ event.author}}</span> #}
												{# <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> #}
											</a>
										</div>
										<div>
											<div class="flex space-x-1 text-sm text-gray-500">
												<time datetime="2020-03-16">
													{{event.date | date('d/m/Y') }}
												</time>
												<span aria-hidden="true">
													&middot;
												</span>
												<span>
													{{event.place}}
													places
												</span>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
					{% else %}

						<div class="max-w-7xl mx-auto text-center py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
							<p class="text-xl font-medium tracking-tight text-gray-900 sm:text-4xl sm:tracking-tight">
								<span class="block">Vous n'avez pas encore d'événement</span>
								{# <span class="block">Start your free trial today.</span> #}
							</p>
							{% if app.user %}
								{% if app.user.administrateur == true %}
									<div class="mt-8 flex justify-center">
										<div class="inline-flex rounded-md shadow">
											<a href="{{ path('create') }}" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-orange-hover hover:bg-orange-hover">
												Créer un événement
											</a>
										</div>
									</div>
								{% endif %}
							{% endif %}
						</div>
					{% endfor %}

				</div>

			{% endif %}
		</div>
	</div>

{% endblock %}
