{% extends 'base.html.twig' %}

{% block body %}

	<div class="py-16 my-10 overflow-hidden">
		<div class="max-w-7xl mx-auto px-4 space-y-8 sm:px-6 lg:px-8">
			<div class="text-base max-w-prose mx-auto lg:max-w-none">
				<h2 class="text-lg text-orange-brand font-semibold">Evenement</h2>
				<p class="mt-2 text-3xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl">{{event.title}}</p>
			</div>
			<div class="relative z-10 text-base max-w-prose mx-auto lg:max-w-5xl lg:mx-0 lg:pr-72">
				<p class="text-lg text-gray-500">{{event.content | raw }}</p>
			</div>
			<div class="flex space-x-1 text-sm text-gray-500">
				<span aria-hidden="true">
					L'événement aura lieu le
					{{ event.date | date('d/m/Y')}}
				</span>
			</div>
			<dl class="grid grid-cols-2 gap-x-4 gap-y-8">
				<div class="border-t-2 border-gray-100 pt-6">
					<dt class="text-base font-medium text-gray-500">Places totales</dt>
					<dd class="text-3xl font-bold tracking-tight text-gray-900">{{ event.place}}</dd>
				</div>

				<div class="border-t-2 border-gray-100 pt-6">
					<dt class="text-base font-medium text-gray-500">Places restantes</dt>
					<dd class="text-3xl font-bold tracking-tight text-gray-900">{{ event.placesRemain}}</dd>
				</div>
			</dl>
			<div>
				<div class="relative z-10">
					<div
						class="mt-10 flex text-base max-w-prose mx-auto lg:max-w-none my-7">


						{# {% if entrant is defined %}
																																																																																																																																																																																																																																																							{% if not entrant %} #}
						<div class="rounded-md shadow">
							<a href="{{path('inscription_event', {'id':event.id})}}" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-orange-brand hover:bg-orange-hover">
								S'inscrire à l'évenement
							</a>
						</div>
						{# {% else %} #}
						{% if app.user %}
							{% if app.user.administrateur == true %}
								<div class="rounded-md shadow">
									<a href="{{path('delete', {'id':event.id})}}" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-red-brand hover:bg-red-hover ml-3">
										Supprimer l'évenement
									</a>
								</div>
							{% endif %}
						{% endif %}
						{# {% endif %}
																																																																																																																																																																																																																																																					{% endif %} #}
						{% if app.user %}
							{% if app.user.administrateur == true %}
								<div class="rounded-md shadow ml-4">
									<a href="{{path('edit', {'id':event.id})}}" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-gray-50">
										Modifier l'evenement
									</a>
								</div>
							{% endif %}
						{% endif %}
					</div>

					{# {% if inscrit is defined %}
																																																																																																																																																																																																																		<span class="text-indigo-700">
																																																																																																																																																																																																																			{{ inscrit }}
																																																																																																																																																																																																																		</span>
																																																																																																																																																																																																																	{% endif %} #}


					{% if plus_de_place is defined %}
						<span class="text-indigo-700">
							{{ plus_de_place }}
						</span>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
